body{
    background-color: #FFF9EC;
}
.quiz{
    margin: 1%;
}
.quiz.finished{
    background-color: #fff7c5;
    box-shadow: 0px 0px 9px 0px #0000001e;
    border-radius: 15px;
    padding: 1%;
    width: 50%;
    margin: auto;
}
.quiz.finished h1{
    text-align: center;
}
.quiz.finished h2.endMessage{
    font-weight: normal;
}
.quiz.finished h2 span{
    font-weight: bold;
}
.questionZone{
    text-align: center;
    width: 50%;
}

button.btnAnswer{
    margin: auto 1.75%;
    padding: 0.75%;
}
button.replayAgain{
    margin: 0.5% auto;
    padding: 0.5%;
}
button.btnDifficulte{
    padding: 0.5%;
    margin: 0.5%;
}
button.logout{
    padding: 0.5%;
    margin: 0 0 0 1.5%;
    background-color: #f0a1a1;
    font-weight: bold;
}
button.btnAnswer, button.replayAgain, button.btnDifficulte, button.logout{
    border: 0;
    border-bottom: 2.5px solid black;
    /* box-shadow: 0px 0px 9px 0px #00000057; */
    transition: 0.15s;
    font-size: 20px;    
}
button.btnDifficulte{
    background-color: #AAE177; 
}
button.btnAnswer{
    background-color: #d6e177;
}
button.replayAgain{
    background: none;
}
button.btnAnswer:hover, button.replayAgain:hover, button.btnDifficulte:hover, button.logout:hover{
    cursor: pointer;
    border-bottom: 1px solid #3f5826;
}
button.replayAgain:hover{
    background-color: #AAE177;
    border-bottom: 2.5px solid black;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.28);
}
button.btnAnswer:hover{
    background-color: #d6e177;
}
button.btnDifficulte:hover{
    background-color: #89bb5a;
    border-bottom: 1px solid #3f5826;
}
button.logout:hover{
    background-color: #f08080;
}

h3{
    border: 0;
    width: 100%;
    text-align: center;
    padding: 0.25% 0;
    font-size: 27px;
}
/* h3:hover{
    transition: 0.3s ease-in-out;
    background-color: #89bb5a62;
} */

img{
    margin: 1%;
}